version: '3'
services:
  webdav-aliyundriver:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: webdav-aliyundriver
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime
      - ./docker/etc/aliyun-driver/:/etc/aliyun-driver/
    ports:
      - "8080:8080"
    tty: true
    environment:
      - TZ=Asia/Shanghai
      - ALIYUNDRIVE_REFRESH_TOKEN=${REFRESH_TOKEN}
      - ALIYUNDRIVE_AUTH_PASSWORD=${AUTH_PASSWORD}
